span.syntax--source.syntax--css.syntax--less {
  .syntax--entity.syntax--other.syntax--attribute-name {
    &.syntax--class {
      color: rgb(255, 168, 65);
    }

    &.syntax--id {
      color: rgb(104, 137, 254);
    }
  }

  .syntax--keyword.syntax--control.syntax--html.syntax--elements {
    color: @syntax-color-tag;
  }
}
