// These colors are specific to the theme. Do not use in a package!
@very-light-gray: rgb(200, 210, 220); //#c5c8c6;
@light-gray: rgb(130, 140, 150);//#969896;
@gray: rgb(100, 110, 120);//rgb(100, 120, 140); //#373b41;
@dark-gray: rgb(70, 80, 90); //#282a2e;
@very-dark-gray: rgb(40, 50, 60); //#1d1f21;

@cyan: rgb(0, 248, 255);
@blue: rgb(0, 194, 255);
@purple: rgb(200, 109, 227);
@green: rgb(83, 255, 68);
@red: rgb(251, 62, 62);
@orange: rgb(255, 176, 0);
@light-orange: lighten(@orange, 20%);

// @cyan: #0fdebd;
// @blue: #288ad6;
// @purple: #ff708e;
// @green: rgb(30, 247, 71);
// @red: rgb(224, 35, 35);
// @orange: #ffc83f;
// @light-orange: #feef6d;

@softblue: #8abee5;
@softgreen: #c7e6aa;

// @variable: rgb(78, 153, 222);
// @tag: rgb(188, 121, 214);
